@{
    ViewBag.Title = "Nosotros";
}

<!--<div class="row">
    <div class="col-md-4">
        <h3><b style="color:#6d1212">ENTREGA GRATIS</b></h3>
        <p style="font-size:18px;">Te lo entregamos totalmente gratis en el Aeropuerto.</p>
        <img src="~/Content/Img/ford.png" width="300" height="220" />
    </div>
    <div class="col-md-4">
        <h3> <b style="color:#6d1212">VEHICULOS ASEGURADOS</b></h3>
        <p style="font-size:18px;">Todos los vehículos cuentan con seguro ante cualquier inconveniente..</p>
        <img src="~/Content/Img/accent.png" width="250" height="280" />
    </div>
    <div class="col-md-4">
        <h3><b style="color:#6d1212">AUTOMATICO Y ESTANDAR</b></h3>
        <p style="font-size:18px;">Tenemos ambos opciones de transmisión para tu mayor comodidad</p>
        <img src="~/Content/Img/sentra.png" width="300" height="220" />
    </div>
</div>

<p style="font-size: 25px; font-weight: 800; color: #6d1212;">Yalex Car Rental</p>-->

<div class="card mb-3" style="max-width: 100%">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/Content/Img/expe.png" class="img-fluid rounded-start" alt="..." >
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title"><p style="font-size: 25px; font-weight: 800; color: #6d1212;">Yalex Car Rental</p></h1>
                <p class="card-text" style="font-size: 18px; font-weight: 800; color: #6d1212;">
                    &nbsp; &nbsp; &nbsp; Ofreciendo un servicio

                </p>
                <p class="card-text" style="font-size: 18px; font-weight: 800; color: #6d1212;">
                    &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; Profesional a Nuestros Clientes

                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 100%">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/Content/Img/nissan1.png" class="img-fluid rounded-start" alt="..." width="350" height="250">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text" style="text-align:justify">
                    Hace un poco mas de un año comenzamos una pequeña compañía de renta de vehículos en El Salvador que se llama Yalex Car Rental. Con la ayuda de Dios ya tenemos unos cuantos unidades a la renta. Contamos con pick ups, SUVs, y Sedanes.
                </p>
                <p class="card-text" style="text-align:justify">
                    Por favor ayúdenos a promover nuestro negocio invitando a amigos y demás familiares a que le den un vistazo a nuestra pagina de Facebook, TikTok, Instagram y hoy lo mas reciente nuestra pagina web, <p><a href="www.yalexcarrental.com" class="btn btn-danger ">Web</a></p> 
                </p>
                <p class="card-text" style="text-align:justify">
                    Puedes hacer tu reserva en línea para poder garantizarles el vehículo que desean.  El vehículo se entrega en el Aeropuerto de El Salvador totalmente gratis y lo recibimos en el mismo lugar. Todos los vehículos rentados cuentan con aseguranza para mayor comodidad y confianza.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="card border-danger mb-3" style="max-width: 100%;">
    <div class="card-body text-danger">
        <h5 class="card-title" style="font-size: 18px; font-weight: 800; color: #6d1212;"">Mision</h5>
        <p style="text-align:justify" class="card-text">Prestar el mejor servicio de transporte, con el más alto nivel ético y profesional, procurando siempre satisfacer las necesidades de nuestros clientes, contribuyendo para que su desplazamiento sea lo más cómodo posible.</p>
    </div>
</div>
<div class="card border-danger mb-3" style="max-width: 100%;">
    <div class="card-body text-danger">
        <h5 class="card-title" style="font-size: 18px; font-weight: 800; color: #6d1212;" ">Vision</h5>
        <p style="text-align:justify" class="card-text">Posicionarnos como la mejor empresa de alquiler de vehículos en El Salvador, ofreciéndole altos estándares de calidad en el servicio, logrando así credibilidad y fidelidad de nuestros clientes.</p>
    </div>
</div>
