@{
    ViewBag.Title = "Catalogo";
}

<div class="row">
    <div class="col-md-4">
        <h3><b style="color:#6d1212">ENTREGA GRATIS</b></h3>
        <p style="font-size:18px;">Te lo entregamos totalmente gratis en el Aeropuerto.</p>
        <img src="~/Content/Img/ford.png" width="300" height="220" />
    </div>
    <div class="col-md-4">
        <h3> <b style="color:#6d1212">VEHICULOS ASEGURADOS</b></h3>
        <p style="font-size:18px;">Todos los vehículos cuentan con seguro ante cualquier inconveniente..</p>
        <img src="~/Content/Img/accent.png" width="250" height="280" />
    </div>
    <div class="col-md-4">
        <h3><b style="color:#6d1212">AUTOMATICO Y ESTANDAR</b></h3>
        <p style="font-size:18px;">Tenemos ambos opciones de transmisión para tu mayor comodidad</p>
        <img src="~/Content/Img/sentra.png" width="300" height="220" />
    </div>
</div>

<p style="font-size: 25px; font-weight: 800; color: #6d1212;">Yalex Car Rental</p>

