@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Yalex Renta de Vehículos</h1>
    <p class="lead">Deja tu Destino en nuestras Manos</p>
    <p><a href="/Home/Catalogo" class="btn btn-danger ">Catagolo</a></p>
 
</div>
<div class="">
    <center><h1>
    Te entregamos directamente en el Aeropuerto
</h1></center>
    <p class="lead">Nuestros agentes están listos para recibirte con el mejor servicio. Verificación de todos los detalles del vehículo para tu mayor seguridad. Te lo entregamos directamente en el Aeropuerto para mayor comodidad y seguridad para ti.</p>
    <img src="~/Content/Img/aeropuerto.png" width="1140" height="600" class="figure-img img-fluid rounded"/>

</div>

<center>
    <div class="row">
        <div class="col-md-4">
            <h2>Vehiculos Equipados</h2>
            <p>
                Todas las versiones de nuestros vehículos son Full Extras.
            </p>
            <img src="~/Content/Img/gris.png" width="300" height="220" />
        </div>
        <div class="col-md-4">
            <h2>Vehículos Recientes</h2>
            <p>Nuestra flota de vehículos son de años recientes para mayor comodidad de nuestros clientes.</p>
            <img src="~/Content/Img/nissan.png" width="300" height="200" />
        </div>
        <div class="col-md-4">
            <h2>Vehiculos Asegurados</h2>
            <p>Todos los vehículos cuentan con seguro ante cualquier inconveniente.</p>
            <img src="~/Content/Img/nissan1.png" width="300" height="220" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Mantenimiento al Dia</h2>
            <p>Todos los vehículos están al día con sus mantenimiento mecánicos para mayor seguridad.</p>
            <img src="~/Content/Img/isuzu.png" width="300" height="200" />
        </div>
        <div class="col-md-4">
            <h2>Variedad de Vehículos</h2>
            <p>Contamos con todo tipo de vehículos, pick-ups, camionetas, sedanes.</p>
            <img src="~/Content/Img/negronissan.png" width="300" height="200" />
        </div>
        <div class="col-md-4">
            <h2>Automatico Y Estandar</h2>
            <p>Tenemos ambos opciones de transmisión para tu mayor comodidad.</p>
            <img src="~/Content/Img/kia.png" width="300" height="200" />
        </div>
    </div>
</center>
